include CHANGELOG.rst
include LICENSE
include MANIFEST.in
include README.rst
include mopidy_pidiv2/ext.conf
include mopidy_pidiv2/placeholder_album_art.b64
include tox.ini

recursive-include tests *.py

recursive-include .circleci *
